.header {
  &-secondary {
    margin: 16px;

    h1 {
      text-transform: uppercase;
      color: $brand-primary;
      font-family: 'Playfair Display', sans-serif;
      font-weight: 700;
      font-size: 22px;
    }
  }

  &-controls {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 22px;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }
}
