.header {
    &-secondary {
      background: #2b2b2b url('/images/banners/banner.png') center center / cover
      no-repeat;
    height: 500px;
    margin-top: 40px;
    }

  &-primary {
    background-color: $brand-secondary;
  }

  &-container {
    width: 100%;
    max-width: 1284px;
    margin: 0 auto;
  }

  &-secondary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  &-header-social-media {
    grid-column: 2 / -1;
    grid-row: 1 / span 1;
    justify-self: end;
    align-self: center;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
  }
}
