.home-catalog {
  &-title {
    font-size: 18px;
    font-family: Playfair Display;
    color: $brand-primary;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;

    @include media-breakpoint-up(lg) {
      font-size: 35px;
    }
  }
}
