.home-catalog-preview {
  .product-tile {
    @include media-breakpoint-up(lg) {
      width: 23.6%;
    }

    &-title {
      text-align: center;
      font-weight: 700;
      font-size: 18px;
      font-family: Playfair Display;
      margin-top: 10px;

      @include media-breakpoint-up(lg) {
        font-size: 22px;
        font-family: Playfair Display;
        margin-top: 21px;
      }
    }

    &-pricing {
      font-size: 18px;
      font-family: Playfair Display;
      text-align: center;
      margin-top: 5px;

      @include media-breakpoint-up(lg) {
        font-size: 22px;
        margin-top: 10px;
      }
    }

    &-image {
      position: relative;

      .product-tile-wishlist {
        font-size: 18px;
        color: $brand-primary;
        position: absolute;
        top: 6px;
        right: 14px;

        @include media-breakpoint-up(lg) {
          font-size: 20px;
          top: 10px;
          right: 20px;
        }
      }

      img {
        width: 174px;

        @include media-breakpoint-up(lg) {
          width: 300px;
        }
      }
    }
  }
}
